*{
    margin: 0;
    padding: 0;
    user-select: none;
    text-decoration: none;

}

.urls{
    display: flex;
    justify-content: space-around;

    
}
 .link{
    display: inline-block;
    margin: 8px 10px;
    padding: 20px 10px;
    color: black;
position: relative;
}

.link::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: rgba(89, 50, 2, 0.645);
    bottom: 3px;
    left: 80%;
    transform: translateX(-80%);
    transition: all 0.5s ease-in-out;

}
.link:hover::after{
    width: 100%;
}
.body{
    display: flex;
    justify-content: center;
    
}
.box{
    border: 2px ;
width: 300px;
 margin: 20px;   
 text-align: center;
}
.boxes{
    /* display: flex;
    justify-content: center; */
    display: inline-block;
    position: relative;
    left:270px;
    
}
.box h4{
    margin: 10px;
}
.h4span{
    display: flex;
    justify-content: center;
    
}
.h4span span{
    margin-top: 10px;
}
aside{
    margin: 40px;
}
aside h1{
    width: 15ch;
    padding: 20px;
}
aside p{
    width: 40ch;
padding: 20px;
}
.too{
    display: flex;
    justify-content: first baseline;
}
aside span h5{
    padding: 10px;
}
article{
    position: relative;
    float: right;

}
.asar{
    display: flex;
    justify-content: center;
}
aside button{
    background-color: black;
    color: white;
    border-radius: 10px ;
    padding: 14px;
    margin-top: 10px;
    margin-left: 8px;
}
.qutu{
    width: 800px;
    height: 380px;
    background-color: rgb(237, 237, 228);
    margin: 0 auto;
    border-radius: 20px;
}
.qutu h1{
    width: 20ch;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.qutuall{
    display: flex;
    justify-content: center;
gap: 40px;
}
.qutu2, .qutu3,.qutu4{
    
    width: 200px;
    height: 220px;
    background-color: white;
    /* margin: 0 auto; */
    border-radius: 20px;
}
.sekil{
    position: relative;
    left: 20px;
    top: 20px;
}

.qutu2 h6{
    position: relative;
    top: -35px;
    left: 45px;
}
.qutu3 h6{
    position: relative;
    top: -15px;
    left: 65px;
}
.qutu4 h6{
    position: relative;
    top: -15px;
    left: 65px;
}
.qutu3 p,
.qutu4 p{
padding: 10px;
}

.qutu2 p{
    margin-left: -20px;
    margin-top: -20px;
    padding: 15px;
}
.icon{
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 90px;
}
.heading2,.news{
   margin: 0 auto;
   text-align: center;
    width: 60ch;
}
.altyazi{
    display: flex;
    justify-content: first baseline;
    gap: 140px;
}
.logopicture,.logopicture2{
    display: flex;
    justify-content: space-evenly;
margin:  0 170px;
}
.square{
    max-width: 1200px;
    height: 300px;
    background-color: rgb(234, 234, 224);
margin: 70px auto;
}
.count{
 text-align: center;
}
.newscopy{
    display: flex;
    justify-content: center;
    margin: 0 150px;
}
.circle{
    max-width: 1300px;
    height: 300px;
    background-color: rgba(41, 47, 54, 1);
    border-radius: 30px;
    margin: 70px auto;
}
.altyazi2{
    color: white;
    text-align: center;
    transform: translateY(70px);
    font-family: Arial, Helvetica, sans-serif;
}
.altyazi2 button{
    width: 160px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(199, 116, 27);
    border: none;
}
h1,p,button{
    padding: 10px;
}
.css{
    margin: 20px 40px;
}
.css2,.css3{
    text-align: center;
}
.css4 p{
    margin-left: -8px;
}
.css p{
    width: 30ch;
    margin-left: -9px;
}
.com{
display: flex;
justify-content: space-evenly;
}
.css,.css2,.css3,.css4{
    margin: 0 10px;
}
.ptag{
    text-align: center;
margin: 50px 0;
}